body {
	font-family: "Roboto", sans-serif;
	font-style: normal;
}

header {
	background: linear-gradient(to bottom, #B0E0E6, #87CEEB);
	color: white;
    padding: 20px 0;
	border-bottom: 4px dashed rgb(255, 255, 255);
}

main {
	background: linear-gradient(to bottom, #87CEEB, #00BFFF, #1E90FF, #4682B4);
	margin: 0;
    padding: 0;
}

footer {
		background-color: #4682B4;
		text-align: center;
		color: white;
		padding: 20px 0;
		border-top: 4px dashed rgb(255, 255, 255);
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 120px;
	right: 0%;
}

nav li {
    display: inline-block;
    margin: 0 0 0 20px;
}

nav li:hover {
	transition: 1s all;
	transform: scale(1.04);
}

nav a {
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-style: normal;
}

nav a:hover {
	color: #f3ff27;
}

.copyright {
	color: #000000;
	font-size: 18px;
	margin: 20px 0 0;
}

.config-titulo-principal {
	width: 940px;
	margin: 0px auto;
	text-align: center;
	cursor: default;
}

/* -=-=-=-=-=-=- CSS DA PÁGINA >>> HOME <<< -=-=-=-=-=-=- */

.banner {
	display: block;
    width: 100%; 
    margin: 0; 
    padding: 0;
}

.principal {
	width: 940px;
	margin: 0 auto;
}

.titulo-principal {
	margin: 0 auto;
	text-align: center;
	font-size: 3em;
	padding: 1em 0 1em;
	font-family: "Anton", sans-serif;
  	font-weight: 400;
  	font-style: normal;
	text-transform: uppercase;
	display: inline-block;
	clear: left;
}

.titulo-principal:hover {
	transition: 1s all;
	color: white;
}

.conteudo-principal {
	margin: 0 auto;
	width: 730px;
}

.principal p {
	text-align: center;
	font-size: 18px;
	margin: 0 0 1em;
	font-weight: 400;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	position: relative;
	width: 150px;
	left: -7%;
	float: left;
}

.mapa {
	width: 95%;
	margin: 0 auto 2em;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 60%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5;
}

.itens:before {
	font-size: 1em;
	content: "➔ ";
}

.imagem-beneficios {
	margin: -70px 0 0;
	width: 40%;
	display: inline-block;
}

.video {
	width: 940px;
	margin: 2em auto 0;
	display: block; 
    padding: 2em 0;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */



/* -=-=-=-=-=-=- CSS DA PÁGINA >>> A EMPRESA <<< -=-=-=-=-=-=- */

.escritorio {
	display: block;
    width: 100%; 
    margin: 0; 
    padding: 0;
}

.empresa-conteudo {
	margin: 0 auto;
	width: 730px;
}

.empresa-conteudo p{
	line-height: 1.42857143;
    color: #000000;
	box-sizing: border-box;
	display: block;
	font-size: 18px;
	margin: 0 auto;
	width: 730px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */



/* -=-=-=-=-=-=- CSS DA PÁGINA >>> PRODUTOS <<< -=-=-=-=-=-=- */

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
    display: inline-block;
	text-align: center;
	width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #ffffff;
	border-radius: 10px;
}

.produtos li:hover {
    border-color: #baf400;
}

.produtos li:active {
	border-color: #09ff00;
}

.produtos li:hover h2 {
	font-size: 34px;
	font-weight: bolder;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */



/* -=-=-=-=-=-=- CSS DA PÁGINA >>> CONTATO <<< -=-=-=-=-=-=- */

form {
	padding: 40px 0 0;
	margin: 0 0 40px;
	color: black;
}

.formulario {
	width: 940px;
	margin: 0 auto;
}

form label, form p {
	display:block;
	font-size: 20px;
	margin: 0;
}

.input-padrao {
	display: block;
	margin: 4px 0 20px;
	padding: 7px 7px;
	width: 50%;
}

.opcao-horario {
	margin: 20px 0 0 0;
}

.checkbox {
	margin: 10px 0;
}

.button {
	width: 50%;
	padding: 7px 0;
	font-size: 18px;
	font-weight: bold;
	background: #f3ff77;
	border-radius: 8px;
	cursor: pointer;
	transition: 1s all;
}

.button:hover {
	background: #baf400;
	transform: scale(1.03);
}

.tabela-horario {
	padding: 0 0 40px;
}

thead {
	background-color: white;
	color: #000000;
	font-weight: bold;
	font-size: 20px;
}

td, th {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
